<%-include('header')%>
    <h3 class="h3 text-center mt-3">WELCOME<br> TO ADMIN SECTION</h3>
    <div class="row">
        <div class="col-md-2">
            <%-include('left')%>
        </div>
        <div class="col-md-10">
            <hr>
        </div>
    </div>