<nav id="sidebarMenu">
    <div class="position-sticky">
        <div class="list-group  mx-3 mt-4">
            <a href="index" class="list-group-item list-group-item-action py-2 ripple active ">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Dashboard</span></a>


            <a href="/addproduct" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fa-sharp fa-solid fa-plus me-3" style="color: #0d6efc;"></i><span>Add Product</span></a>



            <a href="/viewproduct" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fa-sharp fa-solid fa-eye me-3" style="color: #0d6efc;"></i><span>View Product</span></a>



            <a href="/signup" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fa-solid fa-address-card me-3" style="color: #0d6efc;"></i><span>View Registration</span></a>


            <a href="/viewcontact" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fa-solid fa-users-viewfinder me-3" style="color: #0d6efc;"></i><span>View Contact</span></a>



        </div>
    </div>
</nav>