<!-- Header----------------------------------- -->

<%-include('common/header')%>
    <!-- Header----------------------------------- -->


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="d-flex flex-row  justify-content-evenly flex-wrap" id="movie-box">
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d1.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sat, 1 July</p>
                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d2.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sun, 7 May</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d3.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Thu, 11 May onwards</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d4.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sun, 7 May</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-10">
            <div class="d-flex flex-row  justify-content-evenly flex-wrap" id="movie-box">
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d5.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Mon, 8 May onwards</p>
                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d6.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Mon, 8 May</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d17.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Fri, 19 May</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d8.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sun, 14 May</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="d-flex flex-row  justify-content-evenly flex-wrap" id="movie-box">
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d9.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sat, 17 Jun onwards</p>
                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d10.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Thu, 18 May</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d11.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sun, 7 May onwards</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d12.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Fri, 19 May onwards</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-10">
            <div class="d-flex flex-row  justify-content-evenly flex-wrap" id="movie-box">
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d13.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sat, 13 May onwards</p>
                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d14.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sun, 7 May onwards</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d15.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Fri, 19 May</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box" data-aos="fade-up">
                        <a href="jodi"><img src="img/d16.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sun, 7 May onwards</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>



    <!-- Footer-------------------------------------------- -->
    <%-include('common/footer')%>
        <!-- Footer-------------------------------------------- -->