<!-- Header----------------------------------- -->
<%-include('common/header')%>
    <!-- Header----------------------------------- -->

    <div class="container-fluid banner " id="banner-jodi">
        <div class="row ">
            <!--  container -->
            <div class="col-md-4">
                <iframe width="100%" height="400px" src="https://www.youtube.com/embed/c8uhxLHcw7c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen
                    frameborder allow></iframe>
            </div>


            <div class="col-md-8">
                <!-- <img src="img/jodi-banner.jpg id=" banner "> -->
                <div class="row ">
                    <div class="text ">
                        <h1>JODI(PUNJABI)</h1>
                        <p>2D</p>
                        <p>punjabi</p>
                        <p>2h 20m • Comedy , Period , Romantic • U • 5 May, 2023</p>
                    </div>
                    <button class="btn btn-danger btn-lg w-25" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Book Ticket</button>
                </div>
            </div>






            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Jodi (Punjabi) - Punjabi <span class="badge bg-secondary">2D </span> </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close "></button>
                        </div>
                        <div class="modal-body ">


                            <div class="row ">

                                <div class="col-md-8 ">
                                    <p>Cinepolis : Janak Cinema , New delhi </p>
                                    <h6> M-Ticket &nbsp;</h6>

                                </div>

                                <div class="col-md-4 text-center ">
                                    <button class="w-100 btn btn-outline-success" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">10:40 AM</button>
                                    <br> Non-cancellable
                                </div>

                            </div>

                            <hr>


                            <div class="row ">

                                <div class="col-md-8 ">
                                    <p>Cinepolis: Pacific NSP2, Delhi</p>
                                    <h6> M-Ticket &nbsp;</h6>
                                </div>

                                <div class="col-md-4 text-center ">
                                    <button class="btn btn-outline-success w-100" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">01:40 PM</button>
                                    <br> Non-cancellable
                                </div>

                            </div>

                            <hr>

                            <div class="row ">

                                <div class="col-md-8 ">
                                    <p>Cinepolis: Unity One Mall Rohini, Delhi</p>
                                    <h6> M-Ticket &nbsp;</h6>
                                </div>

                                <div class="col-md-4 text-center ">
                                    <button class="w-100 btn btn-outline-success" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">03:30 PM</button>
                                    <br> Non-cancellable
                                </div>

                            </div>

                            <hr>

                            <div class="row ">

                                <div class="col-md-8 ">
                                    <p>Fun Cinemas: TDI Mall, Moti Nagar </p>
                                    <h6> M-Ticket &nbsp;</h6>
                                </div>

                                <div class="col-md-4 text-center">
                                    <button class="w-100 btn btn-outline-success" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">10:25 PM</button>
                                    <br> Non-cancellable
                                </div>

                            </div>

                            <hr>



                        </div>
                        <div class="modal-footer ">
                            <!-- <button class="btn btn-primary " data-bs-target="#exampleModalToggle2 " data-bs-toggle="modal ">Open second modal</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-heade text-center">
                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">How Many Seats?</h1>

                        </div>
                        <div class="modal-body justify-contect-center">
                            <div class="row text-center justify-content-evenly">
                                <div class="col-md-1 " id="box ">
                                    <p id="seats ">1</p>
                                </div>
                                <div class="col-md-1 ">
                                    <p id="seats ">2</p>
                                </div>
                                <div class="col-md-1 ">
                                    <p id="seats ">3</p>
                                </div>
                                <div class="col-md-1 ">
                                    <p id="seats ">4</p>
                                </div>
                                <div class="col-md-1 ">
                                    <p id="seats ">5</p>
                                </div>
                                <div class="col-md-1 ">
                                    <p id="seats ">6</p>
                                </div>
                                <div class="col-md-1 ">
                                    <p id="seats ">7</p>
                                </div>
                                <div class="col-md-1 ">
                                    <p id="seats ">8</p>
                                </div>
                                <div class="col-md-1 ">
                                    <p id="seats ">9</p>
                                </div>
                                <div class="col-md-1 ">
                                    <p id="seats ">10</p>
                                </div>
                                <div class="col-md-1 ">
                                    <p id="seats ">12</p>
                                </div>
                                <!-- <div class="col-md-1 ">
                                    <p id="seats ">12</p>
                                </div> -->

                            </div>
                            <div class="row text-center ">
                                <div class="col-md-12 mt-4 ">
                                    <p id="rs ">Rs-500
                                        <br> Available
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
                            <button class="btn btn-outline-success" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <button class="btn btn-primary " data-bs-target="#exampleModalToggle " data-bs-toggle="modal ">Open first modal</button> -->




            <!--  container -->
        </div>
    </div>



    <!-- About this movies start -->
    <!-- About this movies start -->
    <div class="container mt-3 mb-5 ">
        <!-- container -->
        <div class="row ">
            <h3>About the movie</h3>
            <p>Set in the backdrop of Punjab in the 1980s, Jodi is a musical journey of two talented and passionate artists who redefine the Punjabi folk music while falling in love with each other. With their love growing stronger, a shroud of mystery envelopes
                their path.</p>


            <hr>

            <!-- </div> -->
        </div>

        <hr>
        <!-- offer start-->

        <h2>Top offers for you</h2>

        <button class="btn btn-success btn-lg mt-2 " type="button "> Up-To 50% off on First Booking</button>


        <button type="button " class="btn btn-success btn-lg mt-2 ">10% off on paytm booking</button>




        <button class="btn btn-success btn-lg mt-2 " type="button ">20% off on  Amazon pay</button>

        <hr>

        <!-- offer end -->

        <!-- cast  start -->

        <h3>Cast</h3>


        <div class="row text-center ">
            <div class="col-md-2 ">
                <img class="img-fluid actor " src="img/diljit.jpg " alt=" " style="border-radius: 50% " />
                <p>Diljit Dosanjh <br> Actor </p>

            </div>

            <div class="col-md-2 ">
                <img class="img-fluid actor " src="img/nirmat.jpg " alt=" ">
                <p> Nimrat Khaira <br> Actor </p>
            </div>

            <div class="col-md-2 ">
                <img class="img-fluid actor " src="img/ravin.jpg " alt=" ">
                <p> Ravinder Mand<br> Actor </p>
            </div>

            <div class="col-md-2 ">
                <img class="img-fluid actor " src="img/jarnail-singh-1044306-25-04-2018-12-44-54.avif " alt=" ">
                <p>Jarnail Singh<br> Actor </p>
            </div>

            <div class="col-md-2 ">
                <img class="img-fluid actor " src="img/hardeep-gill-15184-24-03-2017-17-46-07.avif " alt=" ">
                <p>Haedeep gill <br> Actor </p>
            </div>




        </div>

        <hr>

        <!-- cast end -->
        <!-- crew start -->
        <h3>Crew</h3>
        <div class="row text-center ">


            <div class="col-md-2 ">
                <img class="img-fluid actor " src="img/amardp.jpg " alt=" ">
                <p> Amardeep Singh<br> Director </p>
            </div>

            <div class="col-md-2 ">
                <img class="img-fluid actor " src="img/kajal.jpg " alt=" ">
                <p>Karaj Gill<br> Producer </p>
            </div>

            <div class="col-md-2 ">
                <img class="img-fluid actor " src="img/daljit.jpg " alt=" ">
                <p>Daljit Thind<br> Producer </p>
            </div>





        </div>

        <hr>
        <!-- crew end -->
        <!--  review start -->
        <div class="row ">


            <h3 class="mb-3 ">Top reviews</h3>

            <h5 class="mb-3 ">Summary of 763 reviews.</h5>
        </div>

        <button type="button " class="btn btn-outline-danger ">
        #AwesomeStory  <span class="badge bg-secondary ">  356 </span> 
         </button>

        <button type="button " class="btn btn-outline-danger ">
          #Blockbuster <span class="badge bg-secondary ">  329 </span>
          </button>

        <button type="button " class="btn btn-outline-danger ">
    #Wellmade <span class="badge bg-secondary ">271</span>
  </button>

        <button type="button " class="btn btn-outline-danger ">
    #SuperDirection <span class="badge bg-secondary ">265</span>
  </button>







        <!-- reiew end -->
        <!-- container -->
    </div>






    <!-- About this movies end -->








    <!-- Footer-------------------------------------------- -->
    <%-include('common/footer')%>
        <!-- Footer-------------------------------------------- -->