<!-- Header----------------------------------- -->

<%-include('common/header')%>
    <!-- Header----------------------------------- -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="d-flex flex-row  justify-content-evenly flex-wrap" id="movie-box">
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s1.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Mon, 8 May</p>
                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s2.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sat, 20 May</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s3.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sun, 21 May</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s4.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Thu, 11 May</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="col-md-2"></div> -->

    </div>



    <div class="row">
        <!-- <div class="col-md-3"></div> -->
        <div class="col-md-9">
            <div class="d-flex flex-row  justify-content-evenly flex-wrap" id="movie-box">
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s5.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sun, 7 May onwards</p>
                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s6.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Tue, 9 May</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s7.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Fri, 12 May</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s8.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sun, 7 May onwards</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3"></div>

    </div>


    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="d-flex flex-row  justify-content-evenly flex-wrap" id="movie-box">
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s9.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Fri, 16 June onwards</p>
                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s10.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Mon, 28 Aug</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s11.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sun, 7 May onwards</p>

                        </div>

                    </div>
                </div>
                <div class="p-2">
                    <div class="box" id="external-box">
                        <a href=""><img src="img/s12.jpg" alt="img not found !"></a>

                        <div class="box" id="internal-box">
                            <p>Sun, 7 May onwards</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="col-md-"></div> -->

    </div>




    <!-- Footer-------------------------------------------- -->
    <%-include('common/footer')%>
        <!-- Footer-------------------------------------------- -->