<!-- Header----------------------------------- -->

<%-include('common/header')%>
    <!-- Header----------------------------------- -->

    <!-- Trailer---------------------- -->

    <!-- Trailer---------------------- -->


    <!-- Cards --------------------------  -->
    <div class="d-flex flex-row  justify-content-evenly flex-wrap" id="movie-box">
        <div class="p-2">
            <div class="box" id="external-box" data-aos="fade-up">
                <img src="img/s1.avif">
            </div>
        </div>
        <div class="p-2">
            <div class="box" id="external-box" data-aos="fade-up">
                <img src="img/s2.avif">
            </div>
        </div>
        <div class="p-2">
            <div class="box" id="external-box" data-aos="fade-up">
                <img src="img/s3.avif">
            </div>
        </div>

    </div>



    <div class="d-flex flex-row  justify-content-evenly flex-wrap" id="movie-box">
        <div class="p-2">
            <div class="box" id="external-box" data-aos="fade-up">
                <img src="img/s4.avif">
            </div>
        </div>
        <div class="p-2">
            <div class="box" id="external-box" data-aos="fade-up">
                <img src="img/s9.avif">
            </div>
        </div>
        <div class="p-2">
            <div class="box" id="external-box" data-aos="fade-up">
                <img src="img/s5.avif">
            </div>
        </div>
        <div class="p-2">
            <div class="box" id="external-box" data-aos="fade-up">
                <img src="img/s8.avif">
            </div>
        </div>
    </div>


    <!-- Cards --------------------------  -->



    <!-- Footer-------------------------------------------- -->
    <%-include('common/footer')%>
        <!-- Footer-------------------------------------------- -->