<div class="container-fluid">
    <div class="row">
        <div class="footer col-md-4">
            <a href="" class="footer-logo"><i class="fa-solid fa-user"></i></a><br>
            <a href="#" class="footer-logo-text">Customer Service</a>

        </div>

        <div class="footer col-md-4">
            <a href="#" class="footer-logo"><i class="fa-solid fa-ticket"></i></a><br>
            <a href="#" class="footer-logo-text">Resend Booking Confirmation</a>
        </div>
        <div class="footer col-md-4 ">
            <a href="#" class="footer-logo"> <i class="fa-solid fa-envelope-open-text"></i></a><br>
            <a href="#" class="footer-logo-text">Subscribe To The Newsletter</a>

        </div>
    </div>
</div>
<div class="container-fluid pt-2" id='footer-container-two'>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Upcoming Movies In Delhi</h6>
        <p class="footer-p">Fast X | The Kerala Story | Guardians of the Galaxy Vol. 3 | The House of Dead Horror | Wild Roller Coaster | Prehistoric Adventure | Jodi (Punjabi) | Ponniyin Selvan - Part 2 | Kisi Ka Bhai Kisi Ki | Jaan Evil Dead Rise</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Movies By Genre</h6>
        <p class="footer-p">Action Movies | Adventure Movies | Drama Movies | Comedy Movies | Thriller Movies | Fantasy Movies | Animation Movies | Romantic Movies | Sci-Fi Movies | Historical Movies | Horror Movies | Mystery Movies | Classic Movies | Crime Movies | Adaptation
            Movies | Devotional Movies | Mythological Movies | Noir Movies | Political Movies | Supernatural Movies | Sports Movies | Heist Movies | screening Movies | Suspense Movies | Tragedy Movies | Anime Movies | Psychological Movies | Bollywood
            Movies | Adult Movies | Biography Movies | War Movies | Period Movies
        </p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Movies By Language</h6>
        <p class="footer-p">Movies in English | Movies in Hindi | Movies in Tamil | Movies in Telugu | Movies in English | 7D Movies in Japanese | Movies in Punjabi | Movies in Malayalam | Movies in Chattisgarhi | Movies in Khasi | Movies in Sindhi | Movies in Nepali | Movies
            in Portuguese | Movies in French | Movies in Bhojpuri | Movies in Tulu | Movies in Rajasthani | Movies in Haryanavi | Movies in Konkani | Movies in Urdu | Movies in Gujarati | Movies in Assamese | Movies in Kannada | Movies in Odia | Movies
            in Bengali | Movies in Marathi</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Plays By Genre In Delhi</h6>
        <p class="footer-p">Action Movies | Adventure Movies | Drama Movies | Comedy Movies | Thriller Movies | Fantasy Movies | Animation Movies | Romantic Movies | Sci-Fi Movies | Historical Movies | Horror Movies | Mystery Movies | Classic Movies | Crime Movies | Adaptation
            Movies | Devotional Movies | Mythological Movies | Noir Movies | Political Movies | Supernatural Movies | Sports Movies | Heist Movies | screening Movies | Suspense Movies | Tragedy Movies | Anime Movies | Psychological Movies | Bollywood
            Movies | Adult Movies | Biography Movies | War Movies Period | Movies Musical Movies</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Movie Reveiws And Trending Articles</h6>
        <p class="footer-p">Trending Articles | Latest News on Movies, Events, Plays and Sports Movie Celebrities</p>
    </div>

    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Movies Updates & Celebraties</h6>
        <p class="footer-p">Upcoming Movies | Movies Now Showing | Movie Celebrities</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Things To Do In Delhi</h6>
        <p class="footer-p">Adventure | Amusement Parks | Festivals | Durga Puja Festival | Food and Drinks | Holi Parties Antiques, Heritage, Museums | Christmas Celebrations | Hilsa Festival | Gaming Hospitals | Poila | Baishakh Festival | Parties | Unique Tours | Navratri
            Quizzes and Competitions | Shops and Malls | Tourist Attractions | Monuments | Nightlife | Valentine's Day Celebrations</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Sports Event In Delhi</h6>
        <p class="footer-p">Cricket | Online Games | E Sports | Chess | Athletics | Archery | Baseball | Badminton | Cycling | Golf | Kickboxing | Boat | Race | Boxing | Card Games | Derby | Horse Race | Football | Kabaddi | Mixed Martial Arts | Online Sports | Muay Thai
            | Swimming Pool | Rugby | Hockey | Ice Skating | Judo | Triathlon | Motorsports | Walking | Shooting | Running | Tennis | Wrestling | Sailing | Snooker | Basketball | Bowling | Polo | Volleyball | Table Tennis | Weight Lifting</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Events In Delhi</h6>
        <p class="footer-p">Comedy Shows | Workshops | Music Shows | Kids | Spirituality | Meetups | Exhibitions | Conferences | Beer Festival | Celebrity Wishes | Award shows | Online Streaming | Events Screening | Vaccination Talks | New Year Parties
        </p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Cinemas in Top Cities</h6>
        <p class="footer-p">Cinemas in Mumbai | Cinemas in Delhi-NCR | Cinemas in Chennai | Cinemas in Bengaluru | Cinemas in Hyderabad | Cinemas in Pune | Cinemas in Ahmedabad | Cinemas in Kolkata | Cinemas in Kochi</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Events in Top Citites</h6>
        <p class="footer-p">Events in Mumbai | Events in Delhi-NCR | Events in Chennai | Events in Bengaluru | Events in Hyderabad | Events in Pune | Events in Ahmedabad | Events in Kolkata | Events in Kochi</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Plays in Top Citites</h6>
        <p class="footer-p">Plays in Mumbai | Plays in Delhi-NCR | Plays in Chennai | Plays in Bengaluru | Plays in Hyderabad | Plays in Pune | Plays in Ahmedabad | Plays in Kolkata | Plays in Kochi</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Activities in Top Citites</h6>
        <p class="footer-p">Things to do in Mumbai | Things to do in Delhi-NCR | Things to do in Chennai | Things to do in Bengaluru | Things to do in Hyderabad | Things to do in Pune | Things to do in Ahmedabad | Things to do in Kolkata | Things to do in Kochi</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Movies in Top Citites</h6>
        <p class="footer-p">Movies in Mumbai | Movies in Delhi-NCR | Movies in Chennai | Movies in Bengaluru | Movies in Hyderabad | Movies in Pune | Movies in Ahmedabad | Movies in Kolkata | Movies in Kochi</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Countries</h6>
        <p class="footer-p">Indonesia | Singapore | UAE | Sri Lanka | West Indies</p>
    </div>
    <div class="row ms-2 my-4">
        <h6 class="footer-h6">Help</h6>
        <p class="footer-p">About Us |
            <a href="contact">Contact Us</a> | Current Opening | Press Release | Press Coverage | Sitemap | FAQs | Terms and Conditions | Privacy Policy</p>
    </div>

    <hr class="hr">
    <div class="row" id="footer-row-icon">
        <div class="col-md-12 text-center">
            <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" class="footer-icon m-1"><i class="fa-brands fa-square-twitter" class="footer-icon"></i></a>
            <a href="https://www.facebook.com/" class="footer-icon"><i class="fa-brands fa-square-facebook m-1"></i></a>
            <a href="https://www.google.com/" class="footer-icon"><i class="fa-brands fa-square-google-plus m-1"></i></a>
            <a href="https://www.instagram.com/" class="footer-icon"><i class="fa-brands fa-square-instagram m-1"></i></a>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>